<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="affiliate_settings" value="1"/>
    <div class="text_content">
        <h3>Common settings</h3>
        <table class="settings_table">
            <tr valign="top">
                <td scope="row" class="titledesc"><label for="{{ prefix }}_ali_per_page">Products per page</label></td>
                <td class="forminp forminp-text">
                    <input type="text" id="{{ prefix }}_ali_per_page" name="options[{{ prefix }}_ali_per_page]"
                           value="{{ showPerPage }}"/>
                    <span class="description">the maximum number of items is 40</span>
                </td>
            </tr>
            <tr valign="top">
                <td scope="row" class="titledesc"><label for="{{ prefix }}_ali_local_currency">Local Currency: </label></td>
                <td class="forminp forminp-select">

                    <select name="options[{{ prefix }}_ali_local_currency]" id="{{ prefix }}_ali_local_currency">
                        <option value=""> -</option>
                        <option value="usd"
                                {% if localCurrency==
                        "usd" %}selected="selected"{% endif %}>usd
                        </option>
                        <option value="rub"
                                {% if localCurrency==
                        'rub' %}selected="selected"{% endif %}>rub
                        </option>
                        <option value="gbp"
                                {% if localCurrency==
                        'gbp' %}selected="selected"{% endif %}>gbp
                        </option>
                        <option value="brl"
                                {% if localCurrency==
                        'brl' %}selected="selected"{% endif %}>brl
                        </option>
                        <option value="cad"
                                {% if localCurrency==
                        'cad' %}selected="selected"{% endif %}>cad
                        </option>
                        <option value="aud"
                                {% if localCurrency==
                        'aud' %}selected="selected"{% endif %}>aud
                        </option>
                        <option value="eur"
                                {% if localCurrency==
                        'eur' %}selected="selected"{% endif %}>eur
                        </option>
                        <option value="inr"
                                {% if localCurrency==
                        'inr' %}selected="selected"{% endif %}>inr
                        </option>
                        <option value="uah"
                                {% if localCurrency==
                        'uah' %}selected="selected"{% endif %}>uah
                        </option>
                        <option value="jpy"
                                {% if localCurrency==
                        'jpy' %}selected="selected"{% endif %}>jpy
                        </option>
                        <option value="mxn"
                                {% if localCurrency==
                        'mxn' %}selected="selected"{% endif %}>mxn
                        </option>
                        <option value="idr"
                                {% if localCurrency==
                        'idr' %}selected="selected"{% endif %}>idr
                        </option>
                        <option value="try"
                                {% if localCurrency==
                        'try' %}selected="selected"{% endif %}>try
                        </option>
                        <option value="sek"
                                {% if localCurrency==
                        'sek' %}selected="selected"{% endif %}>sek
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <h3>Import setting</h3>
        <table class="settings_table">
            <tr valign="top">
                <td scope="row" class="titledesc"><label for="{{ prefix }}_ali_links_to_affiliate">Convert all links from
                    description to affiliate links</label></td>
                <td class="forminp forminp-text">
                    <input type="checkbox"
                           id="{{ prefix }}_ali_links_to_affiliate"
                           name="options[{{ prefix }}_ali_links_to_affiliate]"
                           value="yes" {% if convertLinksToAffiliate %}checked{% endif %}/>
                </td>
            </tr>
        </table>
    </div>

    <div class="text_content">
        <input class="button-primary" type="submit" value="Save settings"/><br/>
    </div>
</form>